<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULATOR</title>
</head>
<body>
    <form action="/" method="POST">
        <label>ENTER THE FIRST VALUE:</label>
        <input type="number" name="num1" placeholder="enter the value"><br>
        <label>ENTER THE SECOND VALUE:</label>
        <input type="number" name="num2" placeholder="enter the value"><br>
        <select name="values">
            <option value="ADD">ADD</option>
            <option value="SUB">SUB</option>
            <option value="MUL">MUL</option>
            <option value="DIV">DIV</option>
        </select>
        <input type="submit" val="submit">
    </form>

</body>
</html>